- breadcrumb :payments

%table.table.table-condensed#payments_list
  %thead
    %tr
      %th= t('student.columns.first_name')
      %th= t('student.columns.last_name')
      %th= t('student.columns.balance')
      %th= t('student.columns.payment_date')
  %tbody
    -payments.each do |payment|
      %tr
        %td= payment.student.first_name
        %td= payment.student.last_name
        %td= payment.balance
        %td= payment.payment_date

